@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

h1 {
    margin-top: 0;
    color: #24bf67;
    font-size: 20px;
    font-family: 'Bungee', monospace;
    position: fixed;
    right: 10px;

}

h3 {
    text-align: center;
    font-size: 18px;
    color: #24bf67;
}

body {
    font-family: 'Assistant', monospace;
    background-color: #ececec;
}

p{
    text-align: justify;
    font-size: medium;
    color: #353333;
    display: block;
}


nav {
    position: fixed;
    text-align: center;
    font-size: 15px;
    float: left;
    margin-top: auto;
}


a {
    color: #e2548f;
    text-decoration: none;
    font-family: 'Assistant', monospace;
}

a:hover {
    color: #E5D4CE;
}

.e-mail {
    color: #353333;
}

.active{
  color: #E5D4CE;
}

.work-img{
  flex: 0 1 auto;
  }

.img-set{
   /* width: 800px; */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   margin-top: 40px;
   gap: 30px;
   opacity: 90%;
   max-width: 52%;
}

.img-set img:hover{
    /* -webkit-transform: scale(.95);
	transform: scale(.95); */
    opacity: 50%;
}

.img-set2{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
 }

 .work-img2{
    flex: 0 1 auto;
    padding-top: 60px;
    }

.bio-contain{
  width: 830px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.contain {
    flex: 50%;
    justify-content: flex-start;
    padding-top: 200px;
}

#my-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20px;
    /* background-color: #24bf67; */
    padding: 10px;
    font-size: medium;
    text-align: right;
}

.container-video{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.video {
    display: flex;
    padding-top: 250px;
}
