@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

h1 {
    margin-top: 0;
    color: #31D177;
    font-size: 25px;
    float: right;
    font-family: 'Bungee', monospace;

}

body {
    font-family: 'Assistant', monospace;
}

p{
    text-align: left;
    font-size: small;
    color: #403E3E;
    padding-left: 15px;
}

nav {
    position: fixed;
    text-align: center;
    font-size: 10px;
    float: left;
    margin-top: auto;
}


a {
    color: #EB4D8F;
    text-decoration: none;
}

a:visited {
    color: #E5D4CE;
}

.work-img{
  flex: 0 1 auto;
  padding-top: 40px;
  padding-left: 30px;
  }

.img-set{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   max-width: 70%;
}

.bio-img {
    width: 400px;
    float: left;
    margin-top: 200px;
    margin-left: 800px;
}

.about-me{
    width: 250px;
    text-align: left;
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;
    display: block;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    padding: 10px;
    background-color: #31D177;
    font-size: medium;
    text-align: center;

}


